body {
    margin: 0;
    padding: 0;
    color: slategray;
    font-family: 'Lato','Open Sans', Helvetica, sans-serif;
    box-sizing: border-box;
  }
    
  /* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        'header'
        'main'
        'footer';
    height: 100vh;
  }
  
  /* ICONS */
    
  .menu-icon {
    position: fixed; /* Needs to stay visible for all mobile scrolling */
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: white;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
  }
    
  .logoIcon {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
    background-color: #043450;
    color: white;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
  }
  
  .logoIcon2 {
    grid-area: logo2;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
    background-color: #043450;
    color: white;
    align-items: center;
    justify-content: center;
  }
  
  .logoutIcon {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    background-color: #043450;
    color: white;
    align-items: center;
    justify-content: center;
  }
  
  .logoutIcon:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  /* HEADER */
  .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #043450;
    color: white;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }
    
  .header__list {
    display: inline-table;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    list-style: inside;
  }
  
  .header__list__item {
    display: inline;
    padding: 20px 20px 20px 20px;
    color: white;
    margin: 0px;
    align-self: center;
    justify-self: center;
    transition: linear;
  }
  
  .header__list__item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    font-size: larger;
  }
  
  .header__list__item--small {
    display: inline;
    padding: 5px;
    color: white;
    margin: 0px;
  }
  
  .FlRight {
    float: right;
  }
  
  
  .header__search {
    margin-left: 42px;
  }
  
  .header_item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
    
  
  
  /* SideNav */
  
  .sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2; /* Needs to sit above the hamburger menu icon */
    background-color: #36494E;
    left: -140px;
  }
    
  .sidenav.active {
    transform: translateX(0);
  }
  
  .sidenav:hover {
    left: 0;
  }
      
  .sidenav__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 1px solid gray;
  }
    
  .sidenav__list-item {
    display: grid;
    grid-template-columns: 130px 60px;
    align-items: center;
    padding: 20px 20px 20px 40px;
    color: #ddd;
    border: 1px solid gray;
    transition: 0.1s linear;
  }
    
  .sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    font-size: 20px;
  }
    
  
  /*Main */
  .main {
    grid-area: main;
    background-color: #ABD2EC;
  }
    
  .main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: white;
    color: slategray;
  }
  
  .main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
  }
  
  .overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
  }
  
  .main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    transition: 1s linear 0.1s;
  }
  
  .card:hover {
    background-color:lightgrey;
    border: 1px #36494E solid;
  }
    
  /* Force varying heights to simulate dynamic content */
  .card:first-child {
    height: 485px;
  }
  
  .card:nth-child(2) {
    height: 200px;
  }
  
  .card:nth-child(3) {
    height: 265px;
  }
  
  
  /* FOOTER */
  .footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
    z-index: 5;
    color: white;
  }
  
  /* MEDIA ADJUSTMENTS */
  /* Non-mobile styles, 750px breakpoint */
  @media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
      grid-template-columns: 100px 1fr;
      grid-template-areas:
        "logo header"
        "sidenav main"
        "logo2 footer";
    }
  
    .header__search {
      margin-left: 0;
    }
  
    .sidenav {
      position: relative;
      transform: translateX(0);
    }
  
    .sidenav__close-icon {
      visibility: hidden;
    }
  
    .menu-icon {
      visibility: hidden;
    }
  }
  
  /* Medium screens breakpoint (1050px) */
  @media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
      column-count: 2;
    }
  }
  
  
  
  
  /************************LOADER ***********************/
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ABD2EC;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { 
        -webkit-transform: rotate(0deg); 
    }
    100% { 
        -webkit-transform: rotate(360deg); 
    }
  }
  
  @keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { 
        bottom:-100px; opacity:0 
    } 
    to { 
        bottom:0px; opacity:1 
    }
  }
  
  @keyframes animatebottom { 
    from{ 
        bottom:-100px; opacity:0 
    } 
    to{ 
        bottom:0; opacity:1 
    }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  
  
  /*LoadScreen */
  #loadscreen {
    display: block;
    visibility: visible;
    width: 100vw;
    height: 100vh;
    background-color: #043450;
    animation-name: pageUp;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes pageUp {
    0% {
        height: 100vh;
        opacity: 1
    }
    100% {
        height: 0vh;
        opacity: 0
    }
  }